@charset "utf-8";
/* CSS Document */
 #sending {  
      position:absolute;
      display: block;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:1000;
      background-color:#616360;
	  opacity: 0.5;
    }

    .ajax-loader {
      //background-color:#414240;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -32px; /* -1 * image width / 2 */
      margin-top: -32px;  /* -1 * image height / 2 */
      display: block;     
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      //opacity: .6;
  }