@charset "utf-8";
/* CSS Document */


body{
  background:#77D4AD;
  }
/*p{
  font-weight: bold;
  font-size: 18px;
  color:#393B40;
  font-family:Arial, Helvetica, sans-serif;
}*/

#centerDiv{
  width:100%;
  margin-top: 20px;
  //margin-left: 10px;
  text-align: center; //置中
  }

.inputArea{
  width: 80%;
  margin: 0 auto;
  display: block;
  border: 1px solid #BBBBBB;
  //background:#EBF2F0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  }

#title,#address{
  height: 40px;
  }

#info{
  height: 100px;
  }

.btn{
  //width:20%;
  margin: 0 auto;   
  display:inline-block;
  border: 1px solid #BBBBBB;
  color:#453D38;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height:30px;
  //width: 50px;
	}

.btn:hover{
  border: 1px solid #BBBBBB;
  background:#394238;
  color:#FFF;
  -webkit-border-radius: 3px; // Safari 和 Chrome
  height:30px;
  }
