@charset "utf-8";
  
  .infoWindow{
    overflow-x:hidden;
    width:200px; height:100px;
    }
  .markerTitle{
   font-size:15px;
   font-weight:bold;    
   //color:#63C792;
  }
  .markerAddress{
    color:#8A8A8A;
  }
  .markerInfo{
    margin-top: 5px;
  }
  .markerUser{
    margin-top:20px;
    margin-bottom:0;
    color:#AFCCBD;
    font-size:12px;
  }