@charset "utf-8";
/* CSS Document */


body{
	background-image:url(../homeimg/bg.png);
}

.centerBlock{
	background: rgba(255,255,255,0.7);
	display:block;
	width:80%;
    -webkit-border-radius: 4px;
	line-height:3em;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:30px;
	margin: 50px auto;
}


input {
	border: 1px solid #BBBBBB;
	background:#FFF;
    -webkit-border-radius: 3px; // Safari 和 Chrome
	width:100px;
	height:20px;
	margin-top:10px;
}
.inputOK{
	border: 2px solid #0C6;
}

.inputERROR{
	border:2px solid #F00;
}

.ErrorSpan{
	color:#666;
	font-size:12px;
}
	

.button{
	border: 1px solid #BBBBBB;
	background:#666;
	color:#FFF;
    -webkit-border-radius: 3px; // Safari 和 Chrome
	height:50px;
	margin-top:20px;
}

.button:hover{
	border: 1px solid #BBBBBB;
	background:#666;
	color:#F96;
    -webkit-border-radius: 3px; // Safari 和 Chrome
	height:50px;
	margin-top:20px;
}


.title{
	font-size:30px;
	font-weight:700;
	font-family:"Arial Black", Gadget, sans-serif;
}

.title-out{
	display: block;
	margin: 10px auto;
	font-size:30px;
	font-weight:700;
	font-family:"Arial Black", Gadget, sans-serif;
	text-align: center;
}

.ps{
	color:#666;
	margin-top:40px;
	line-height:1.5em;
}

.ps a{
	color:#699;
	text-decoration:none;
}

.ps a:hover{
	color:#F96;
}

.TN-table {
	padding-top: 10px;
	margin: 0 auto;
	text-align: center;
}

.tableTitle{
	background-color: yellow;
	width: 300px;
}

.tableTitle-user{
	background-color: yellow;
	width: 100px;
}


.TN-table tr{
	width: 400px;
}

.content{
	font-family:"微軟正黑體";
	margin-left:40%;
}

.box{
	margin-left:40%;
}

#footer{
	font-family:"arabic Typesetting";
	font-size:36px;
	background: rgba(255,255,255,0.7);
	text-align:center;
	width:100%;
	margin:auto;
}